.App {
  text-align: center;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbrachot.net%2Fgreetings_pictures.php%2F61&psig=AOvVaw1JFbHQt6AQr7hCfWP3OvY5&ust=1652462001755000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMi6p-m62vcCFQAAAAAdAAAAABAD);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
